html {
    background-image: url('../images/mmj4.png');
    background-repeat: repeat-x repeat-y;
    background-size: 100%;
}

body {
    margin: auto;
    width: 80%;
    border: solid #969107 8px;
    border-radius: 20px;
}

#wrapper {
    background-color: black;
    width: 100%;
}

.topper {
    height: 60px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}


/* Remove margins and padding from the list, and add a black background color */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


/* Float the list items side by side */

ul.topnav li {
    float: left;
}


/* Style the links inside the list items */

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Rye', cursive;
    padding: 27px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 19px;
}


/* Change background color of links on hover */

ul.topnav li a:hover {
    background-color: #555;
}


/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {
    display: none;
}


/*GOOGLE FONTS {
    float: left;
    font-family: 'Fontdiner Swanky', cursive;
    font-family: 'Frijole', cursive;
    font-family: 'Rye', cursive;
    font-family: 'Faster One', cursive;
    font-size: 31px;
    margin-bottom: -10px;
    padding-top: 2.7%;
    color: #969107;
}*/

.logo {
    background-color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#logo {
    /*float: left;*/
    position: relative;
    /* height: 184%; */
    width: 20%;
    margin-left: 36%;
    margin-top: 5px;
    border: solid 4px #969107;
    border-radius: 97%/99%;
    /* margin-top: -62px; */
    /* margin-left: 0%; */
}

#container {}

#container img {
    width: 100%;
}

h2 {
    text-decoration: underline;
    text-align: center;
    margin: 0;
    padding-top: 2%;
}

.about-us {
    background-color: white;
    padding-bottom: 4%;
}

.description {
    border: dashed red 4px;
    width: 85%;
    margin: 0 auto;
    margin-top: 2%;
}

p {
    width: 85%;
    color: black;
    text-align: justify;
    padding-left: 7%;
    margin-bottom: 0;
    padding-bottom: 2%;
}


/*contact form starts*/

div,
.h1,
form,
fieldset,
input,
textarea,
footer,
.p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

@font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('yanonekaffeesatz-regular-webfont.eot');
    src: url('yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'), url('yanonekaffeesatz-regular-webfont.woff') format('woff'), url('yanonekaffeesatz-regular-webfont.ttf') format('truetype'), url('yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #ccc url('../images/bg_out.png');
    color: #7c7873;
    font-family: 'YanoneKaffeesatzRegular';
}

.p {
    text-shadow: 0 1px 0 #fff;
    font-size: 24px;
}

#contact {
    width: 530px;
    margin: 20px auto 0;
    height: 800px;
}

.h1 {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 48px;
    text-shadow: 0 1px 0 #ede8d9;
}

#form_wrap {
    overflow: hidden;
    height: 446px;
    position: relative;
    top: 0px;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:before {
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    background: url('../images/before.png');
    width: 100%;
    height: 316px;
}

#form_wrap:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    background: url('../images/after.png');
    width: 100%;
    height: 260px;
}

#form_wrap.hide:after,
#form_wrap.hide:before {
    display: none;
}

#form_wrap:hover {
    height: 776px;
    top: -200px;
}

form {
    background: #f7f2ec url('../images/letter_bg.png');
    position: relative;
    top: 200px;
    overflow: hidden;
    height: 200px;
    width: 90%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:hover form {
    height: 530px;
}

label {
    margin: 11px 20px 0 0;
    font-size: 16px;
    color: #b3aba1;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
}

input[type=text],
textarea {
    font: 14px normal normal uppercase helvetica, arial, serif;
    color: #7c7873;
    background: none;
    width: 95%;
    height: 36px;
    padding: 0px 10px;
    margin: 0 0 10px 0;
    border: 1px solid #f8f5f1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 1px #726959;
    -webkit-box-shadow: inset 0px 0px 1px #b3a895;
    box-shadow: inset 0px 0px 1px #b3a895;
}

textarea {
    height: 80px;
    padding-top: 14px;
}

textarea:focus,
input[type=text]:focus {
    background: rgba(255, 255, 255, .35);
}

#form_wrap input[type=submit] {
    position: relative;
    font-family: 'YanoneKaffeesatzRegular';
    font-size: 24px;
    color: #7c7873;
    text-shadow: 0 1px 0 #fff;
    width: 100%;
    text-align: center;
    opacity: 0;
    background: none;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: opacity .6s ease-in-out 0s;
    -moz-transition: opacity .6s ease-in-out 0s;
    -o-transition: opacity .6s ease-in-out 0s;
    transition: opacity .6s ease-in-out 0s;
}

#form_wrap:hover input[type=submit] {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out 1.3s;
    -moz-transition: opacity .5s ease-in-out 1.3s;
    -o-transition: opacity .5s ease-in-out 1.3s;
    transition: opacity .5s ease-in-out 1.3s;
}

#form_wrap:hover input:hover[type=submit] {
    color: #435c70;
}


/*contact form ends*/


/*#contact-us {
    display: inline;
    height: 800px;
    width: 100%;
    background: black;
}

h1 {
    color: #969107;
    font-size: 3em;
    text-align: center;
    margin-right: 10%;
    margin-top: -1%;
}
*/


/*.half-left {
    width: 50%;
}

.half-right {
    width: 50%;
}*/


/*label {
    text-align: right;
    font-size: 1.3em;
    color: black;
}*/


/*input,
textarea {
    padding: 5px;
    width: 70%;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px 0px 22px 0px;
    border: 4px solid #969107;
    background: url('images/mmj4.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.button {
    float: right;
    border-radius: 4px;
    background-color: #969107;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: 'Faster One', cursive;
    padding: 20px;
    width: 210px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 19%;
    margin-bottom: 1%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
*/

footer {
    width: 100%;
    background-color: #222222;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*padding-top: 1%;
    display: inline-block;
    padding-bottom: 1%;
    margin-bottom: -5px;*/
}

.social_icons {
    float: left;
    padding-top: 1.5%;
    margin-right: -25%;
    margin-left: 2%;
}

footer div a img:hover {
    background-color: #969107
}

.copyrite {
    height: 50px;
    text-align: center;
    /* float: left; */
    /* margin-left: 2%; */
    padding-top: 3%;
    color: yellow;
    /* padding-top: 1%; */
    font-size: 23px
}

#sponsors {
    margin-top: -8%;
    height: 400px;
    background-color: white;
    border: solid 5px;
}

.sponsors {
    font-size: 32px;
    color: blue;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 2px;
    padding-bottom: 0px;
}

.sp {
    position: relative;
    height: 180px;
    width: 215px;
    margin-bottom: 5%;
}

.sp1 {
    position: relative;
    height: 200px;
    width: 380px;
    margin-bottom: 5%;
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:820px) {ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {float: right;display: inline-block;}
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: center;
    }
}
